.btnPadrao{
    padding: 10px;
    margin-bottom: 20px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;

    width: 200px;
}