.inputPadrao{
    padding: 10px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;

    width: 200px;

    text-align: center;
    
}