.tweetPadrao{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    background-color:lightgray;
    width: 300px;
    padding: 10px 10px;
    margin: 2px 0;

}